.match {
    padding: 1%;
    margin: auto;
    margin-top: 3%;
    background-color: dimgray;
}

.result {
    background-color: rgba(164, 188, 231, 0.616);
    
}

.team {
    color: whitesmoke;
    text-emphasis: bold;
}